button {
    padding: 4px 8px;
}

/*.DH-HG-body {
  max-width: 960px;
}*/

.DH-container-eas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.DH-HG-content {
    background: #FFFFFF;
    order: 2;
    padding: 0;
    display: unset;
    justify-content: unset;
    border: 0.2em solid black;
    border-radius: 4px;
    flex-grow: 4;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 0px;
    border-radius: 2px;
    aspect-ratio: 1/1;
    font-size: 6px;
}